@font-face {
  font-family: 'PostNoBillsJaffna-SemiBold';
  src: url('./fonts/PostNoBillsJaffna-SemiBold.eot');
  src: local('☺'), url('./fonts/PostNoBillsJaffna-SemiBold.woff') format('woff'),
  url('./fonts/PostNoBillsJaffna-SemiBold.ttf') format('truetype'),
  url('./fonts/PostNoBillsJaffna-SemiBold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}


*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Основной конейтенер для контента */

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1110px;
}

/* Header */

.header {
  width: 100%;
  padding: 30px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #fff;
}

.logo__content {
  display: flex;
  flex-direction: column;
}

.logo__content-name {
  font-size: 36px;
  font-family: 'PostNoBillsJaffna-SemiBold', serif;
}

.logo__content-description {
  font-size: 14px;
  font-family: 'Raleway', serif;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation__item {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 16px;
  margin-right: 40px;
  text-decoration: none;
  font-family: Raleway, serif;
}

.navigation__item:last-child {
  margin-right: 0;
}

.intro {
  width: 100%;
  height: 840px;
  background: url("./images/intro-background.jpg") no-repeat center;
}

.intro__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  margin: 150px 0 125px;
  color: #D4C17F;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  line-height: 64px;
  font-family: 'Playfair Display', serif;
}

.links__contact {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 21px;
  padding-left: 32px;
  text-decoration: none;
  position: relative;
  font-family: Raleway, serif;
}

.links__contact::before {
  content: '';
  top: 50%;
  left: 0;
  position: absolute;
  transform: translate(0, -50%);
}

.links__contact._address::before {
  background: url("images/address.png") no-repeat center;
  width: 15px;
  height: 21px;
}

.links__contact._phone::before {
  background: url("images/phone.png") no-repeat center;
  width: 21px;
  height: 21px;
}

.mouse {
  margin-bottom: 190px;
}

.links__contact:not(:last-child) {
  margin-right: 100px;
}

.testimonials {
  height: 420px;
  width: 100%;
  position: absolute;
  background: #242B33;

}

.advantage {
  display: flex;
  width: 794px;
  margin: 120px auto;
  justify-content: space-between;
}

.advantage__position {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantage__img {
  margin-bottom: 53px;
}

.advantage__description-item {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  text-align: center;
  font-family: Roboto, serif;
}

.testimonials__number {
  top: -20px;
  right: 41px;
  opacity: 0.02;
  color: #FFFFFF;
  font-size: 400px;
  font-weight: bold;
  position: absolute;
  font-family: 'Playfair Display' , serif;
}
